<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Select site and subject</h3>
           
        </div>
        <form novalidate #subjectForm="ngForm">
          <div class="form-group">
            <label for="site">Site</label>
            <select (change)="onSiteSelect($event.target.value)" class="form-control" id="site" required [(ngModel)]="siteId" name="site"
              #site="ngModel">
            <option *ngFor="let sit of sites" [value]="sit.id">{{sit.longName}}</option>
          </select>
            <small [hidden]="site.valid || site.pristine" class="alert alert-danger">
            Site is required
          </small>
          </div>
          <div class="form-group">
            <label for="subjectId">Subject</label>
            <select (change)="onSubjectSelect($event.target.value)" class="form-control" id="subject" required [(ngModel)]="subjectId"
              name="subject" #subject="ngModel">
            <option *ngFor="let sub of subjects" [value]="sub.id">{{sub.subjectId}}</option>
          </select>
            <small [hidden]="site.valid || site.pristine" class="alert alert-danger">
            Site is required
          </small>
          </div>

          <button (click)="onCancel()" type="button" class="btn ">Cancel</button>
        </form>
      </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-lg-5">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edit an existing entry or create a new one</h3>
        </div>
        Existing Entries
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="onEntrySelect(ent)" *ngFor="let ent of entries">
              <td>
                {{ent.id}}
              </td>
              <td>
                {{ent.entryDate | date:'MM/dd/yyyy'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>